
.guest-header-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--header-background-color);
    overflow: visible;
}

.guest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 10px;
    background-color: var(--header-background-color);
    height: auto;
}

.guest-id {
    font-size: 18px;
    font-weight: bold;
    color: var(--guest-id-color);
    width: auto;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.guest-id:hover {
    color: var(--guest-id-hover-color);
}

.guest-fields {
    width: 100%;
    background-color: var(--field-background-color);
    color: var(--text-color);
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    max-height: 625px;
    overflow: visible;
    opacity: 1;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    min-height: 200px;
}

.guest-fields .role-options {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: nowrap;
    gap: 5px;
}

.guest-fields .role-options label {
    margin-right: 5px;
    color: var(--text-color);
    line-height: 1.5;
}

.guest-fields .role-options input[type="radio"] {
    margin-right: 5px;
}

.guest-fields button[type="submit"] {
    font-size: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    line-height: 1.5;
    width: auto;
}

.guest-fields button[type="submit"]:hover {
    background-color: var(--primary-hover-color);
}

.guest-fields button.delete-button {
    font-size: 12px;
    background-color: red !important;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    bottom: 0;
    right: 0;
    width: auto;
}

.guest-fields button.delete-button:hover {
    background-color: darkred !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.guest-fields button.transfer-button {
    font-size: 12px;
    background-color: green !important;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    display: inline-block;
    line-height: 1.5;
    width: auto;
}

.guest-fields button.transfer-button:hover {
    background-color: darkgreen !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}