body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .navbar {
    background-color: var(--navbar-background-color-dark);
}

body.dark-mode .navbar a {
    color: var(--link-color-dark);
}

body.dark-mode .navbar a:hover {
    background-color: var(--link-hover-background-color-dark);
    color: var(--link-hover-color-dark);
}

body.dark-mode .content {
    background-color: var(--background-color-dark);
}

body.dark-mode h2 {
    color: var(--text-color-dark);
}

body.dark-mode li {
    background-color: #1f1f1f;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .toggle-button {
    color: #66b2ff;
}

body.dark-mode .toggle-button:hover {
    color: #3399ff;
}

.navbar.dark-mode {
    background-color: var(--navbar-background-color-dark);
}

.navbar a.dark-mode {
    color: var(--link-color-dark);
}

.navbar a.dark-mode:hover {
    background-color: var(--link-hover-background-color-dark);
    color: var(--link-hover-color-dark);
}