@import url('common.css');
@import url('lightmode.css');
@import url('register.css');

/* Default Light Mode Styles */
body {
    background-color: var(--background-color-light);
}

.navbar {
    background-color: var(--navbar-background-color-light);
}

.navbar a {
    color: var(--link-color-light);
}

.navbar a:hover {
    background-color: var(--link-hover-background-color);
    color: var(--link-hover-color);
}

.content {
    background-color: var(--background-color-light);
}

h2 {
    color: var(--text-color-light);
}

li {
    background-color: var(--input-background-color-light);
}

/* Toggle Button Styles */
.toggle-button {
    color: var(--primary-color);
}

.toggle-button:hover {
    color: var(--primary-hover-color);
}

.login-button {
    background-color: var(--primary-color);
}

.login-button:hover {
    background-color: var(--primary-hover-color);
}

.register-link, .forgot-password-link {
    color: var(--primary-color);
}

.register-link:hover, .forgot-password-link:hover {
    color: var(--primary-hover-color);
}